<div class="container">
  <div clas="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      
      <div class="top-text">
        <h1>
          Welcom to
          <span class="fas fa-book"::before></span>
          <b>Bookers!!</b>
        </h1>
        
        <p>
          In
          <apan class="fas fa-book"::before></apan>
          <b>Bookers</b>,<br>
          you can share and exchange your opinions , inpresiions , and emotions<br>
		  	  about various books!          
        </p>
      </div>
      
      <div clss="btn-wapper col-10 mx-auto">
        <div class="row">
          <%= link_to "Log In",new_user_session_path,class:"btn btn-info btn-sm stn-block mb-3 sign_in" %>
        </div>
        
        <div class="row">
          <%= link_to "Sign Up",new_user_registration_path,class:"btn btn-success btn-sm bstn-block sign_up" %>
        </div>
      </div>
      
    </div>
    
  </div>
    
  
</div>
