/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
 }

.navbar-nav{
  flex-direction: row;
}

.title {
  color: #fff;
  font-size: 20px;
}
.body {
  margin: 55px 10% 0px 8%;
  white-space: nowrap;
}

.notice {
  color: green;
  }
.error {
  color: red;
}
.error-message {
  font-size: 12px;
  list-style: square;
  margin-left: 60px;
}
.actions {
  margin-top: 5px;
}

.btn-sm,.btn-block {
    display: block;
    width: 100%;
}

.textarea.form-control {
    height: auto;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group {
  margin-bottom: 1rem;
}

.label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.field_with_errors {
  display: contents;
}